* {
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

a:link {
    text-decoration: none;
    color: rgb(160, 160, 160);
}

a:visited {
    text-decoration: none;
    color: rgb(160, 160, 160);
}

a:hover {
    text-decoration: underline;
    color: rgb(160, 160, 160);
}

header {
    background-color: rgb(51, 0, 0);
    text-align: center;
    margin-bottom: 10px;
    padding: 2px;
    font-size: 25px;
    font-family: fantasy;
    color: rgb(160, 160, 160);
    border-radius: 15px;
}

nav {
    float: left;
    width: 105px;
    height: 500px;
    background: rgb(10, 10, 10);
    padding: 20px;
    border-radius: 15px;
    font-size: 70%;
    width: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    padding-left: 20px;
}

.mainA {
    float: left;
    width: 70%;
    background-color: rgb(0, 0, 0);
    font-family: fantasy;
    border-radius: 15px;
    color: rgb(160, 160, 160);
    font-size: 100%;
}

details {
    color: rgb(160, 160 ,160);
    
}

footer {
    background-color: rgb(51, 0, 0);
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    color: rgb(160, 160, 160);
    border-radius: 15px;
    font-family: fantasy;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

.UE {
    float: left;
}

.UE_title {
    text-align: center;
}

.PE {
    float: right;
}

.PE_title {
    text-align: center;
}

.fImg {
    height: 25px;
}

.nImg {
    height: 15px;
    padding-right: 3px;
    padding-top: 3px;
}

.copyright {
    font-size: 8px;
    height: 3px;
    padding-bottom: 15px;
    color: black;
}

.selectedPage {
    text-decoration: underline;
    color: rgb(160, 160, 160)
}

.container {
    display: grid;
    background: black;
    width: 0 auto;
    margin: 0 auto;
    padding-left: auto;
}

.column {
    border-radius: 15px;
    background: rgb(10, 10, 10);
    margin: 30px;
    width: 250px;
    height: 400px;
    text-align: center;
    color: rgb(160, 160 ,160);
}



@media (max-width: 1024px) {
    .row {
        grid-template-columns: repeat(2, 1fr); /* Two columns for medium-sized devices */
    }
}

@media (max-width: 768px) {
    .row {
        grid-template-columns: repeat(1, 1fr); /* One column for small devices */
    }
}

.merchImg {
    border-radius: 15px;
    margin: 30px;
    width: 80%;
    height: 250px;
    text-align: center;
}

.column:first-child {
    margin-left: 30px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: rgb(15, 15, 15);
    border-radius: 15px;
}

::-webkit-scrollbar-button {
    color: black;
    background: black;
}

